.content {
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-div {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.table-header {
  font-size: 2rem;
  text-align: center;
  margin-block: 2rem; 
}

.loading-div {
  font-size: 2rem;
  display: grid;
  font-weight: 600;
  align-items: center;
  text-align: center;
  justify-items: center;
  height: inherit;
}

table {
  place-self: center;
  background-color: #181818;
  box-shadow: 0px 0px 10px #ffffff30;
  width: 70%;
  margin-inline: 15%;
  transition: 0.3s;
  border-collapse: collapse;
  box-sizing: border-box;
}

tr {
  border-bottom: 1px solid #ffffff8a;
}
tr:hover {
  background-color: #ffffff20;
}

th {
  background-color: #ba8b1c;
  color: #ffffffcb;
}

th, td {
  padding: 0.5rem 1rem;
  text-align: center;
}


.edit-icon {
  width: 1rem;
}

.notes-cell {
  width: 200px;
  max-width: 200px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.add-button-div {
  width: 70%;
  margin-inline: 15%;
  margin-block: 1.5rem;
}
.add-button {
  bottom: 2rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #ba8b1c;
  color: white;
  display: grid;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  place-self: flex-end;
}

.add-button > h2 {
  margin-top: -0.9rem;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .content {
    transform: translateX(-15rem);
    width: 100%;
  }
  table, .add-button-div {
    width: 85%;
    margin-inline: calc(15%/2);
  }
}